@page
@model PrivacyModel
@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<p>MeviantArt is a social media platform that allows artists to showcase their artwork, collaborate with other artists, and engage with a community of art enthusiasts. Users can create profiles, upload and share their artwork, and participate in forums and groups related to various art forms</p>
<p>Contact the creator using: <a href="https://t.me/Taras766">Telegram</a></p>